{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<h3 class="title">Login</h3>
<div class="box">
    <form method="POST" action="/login">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label for="email">Email address</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
