<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ data.question }}</title>
</head>

<body>
    <div class="container">
        <div class="card" style="width: 30rem;">
            <form action="/" method="POST" onsubmit="return captureForm()">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="card-body">
                    <h2 class="card-title">{{ data.question }}</h2>
                    <p class="card-text">
                        Election using the Verificatum JavaScript Cryptographic library for client-side encryption.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="card-header">Candidates</div>
                    {% for e in data.fields %}
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input class="candidate" type="radio" name="field" value="{{ e }}"> {{ e }}<br>
                            </label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="card-body">
                    <button type="submit" class="btn btn-primary">Vote</button>
                </div>
                <div class="card-footer text-muted">
                    {{ stats.nvotes }} votes so far
                </div>
            </form>
        </div>
    </div>

    <script>
        window.WASM_PATH = "{{url_for('static', filename='optimized.wasm')}}"
    </script>
    <script src="{{url_for('static', filename='min-vjsc-1.1.1.js')}}"></script>
    <script>
        function captureForm() {
            for (const candidate of document.getElementsByClassName('candidate')) {
                if (candidate.checked) {
                    var found = false;
                    {% for e in data.fields %}
                    found |= candidate.value === "{{ e }}";
                    {% endfor %}
                    if (!found) {
                        console.error("Candidate does not much any expected value");
                        return false;
                    }

                    candidate.value = encrypt(candidate.value);
                    return true;
                }
            }

            console.error('No candidate selected');
            return false;
        }

        function encrypt(s) {
            function initRandomSource() {
                const randomSource = new verificatum.crypto.RandomDevice();
                const seed = randomSource.getBytes(verificatum.crypto.SHA256PRG.seedLength);
                const ret = new verificatum.crypto.SHA256PRG();
                ret.setSeed(seed);
                return ret;
            }

            var randomSource = initRandomSource();

            var WIDTH = 1;  // Depends on vmni configuration

            // TODO: Read 'PublicKey' file which is saved as a "raw" ByteTree
            var bt = verificatum.eio.ByteTree.readByteTreeFromByteArray({{ data.publicKey }});

            console.assert(verificatum.util.byteArrayToAscii(bt.value[0].value[0].value).endsWith('ECqPGroup'));
            var keyPGroup = verificatum.arithm.ECqPGroup.fromByteTree(bt.value[0].value[1]);
            var fullPublicKey = new verificatum.arithm.PPGroup(keyPGroup, 2).toElement(bt.value[1]);
            var eg = new verificatum.crypto.ElGamal(true, keyPGroup, randomSource, 20);
            var wpk = eg.widePublicKey(fullPublicKey, WIDTH);

            // Encode message
            var ascii_bytes = s.split('').map(x => x.charCodeAt(0));  // TODO: do it with verificatum utils
            var encoded = wpk.pGroup.project(1).encode(ascii_bytes);
            var encrypted = eg.encrypt(wpk, encoded);

            // XXX: why?
            var encrypted0 = encrypted.values[0].toByteTree().toByteArray();
            var encrypted1 = encrypted.values[1].toByteTree().toByteArray();
            return JSON.stringify([encrypted0, encrypted1]);
            // return JSON.stringify(encrypted.toByteTree().toByteArray());
        }
    </script>

</body>

</html>
