{% extends "base.html" %}
{% block title %}{{ data.question }}{% endblock %}


{% block content %}

<style>
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
</style>

<div class="card-group">
    <div class="card">
        <div class="card-body">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form action="/" method="POST" onsubmit="return captureForm()">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <h2 class="card-title">{{ data.question }}</h2>
                <ul class="list-group list-group-flush">
                    <div class="card-header">Candidates</div>
                    {% for e in data.fields %}
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input class="candidate" id="{{ e }}" type="radio" name="field" value="{{ e }}" required> {{ e }}<br>
                            </label>
                        </div>
                    </li>
                    {% endfor %}
                    <input required type="email" class="form-control" name="email-for-signing" id="email-for-signing" placeholder="Enter email">
                </ul>
                <div class="card-body">
                    <button type="submit" class="btn btn-primary">Vote</button>
                    <a href="/results" class="btn btn-primary">Results</a>
                    <a
                        href="/offline_vote"
                        class="btn btn-secondary"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Cast a vote when FrejaEID is offline"
                    >
                        Offline vote
                    </a>
                    <a href="/ciphertexts" class="btn btn-secondary">Ciphertexts</a>
                    <a href="/publicKey" class="btn btn-secondary">Public Key</a>
                </div>
            </form>
        </div>
        {% if hash %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Verify hash values</h5>
                <p class="card-text">{{ hash }}</p>
            </div>
        </div>
        {% endif %}
        {% if vote %}
          <details><summary>Raw signature and encrypted vote</summary>
            <textarea readonly>{{ vote }}</textarea>
          </details>
        {% endif %}
        <div class="card-footer text-primary">
            {{ stats.nvotes }} vote{{ '' if stats.nvotes == 1 else 's' }} so far
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">About</h2>
            <p class="card-text"> Demo election web interface using the <a
                    href="https://github.com/kth-tcs/verificatum-vjsc/">Verificatum JavaScript Cryptographic
                    library</a> for client-side encryption.</p>
            <p class="card-text">Encryption must be done with a provided public key which is produced by the <a
                    href="https://www.verificatum.org/">Verificatum</a> mix network.</p>
            <p class="card-text">When the &quot;submit&quot; button is pressed, the form&#39;s data is modified
                and the
                currently selected option is encrypted using the public key and some randomness. The web
                server is then unable to decrypt the vote. Instead, the mix network that produced the public
                key must jointly decrypt and shuffle the collected votes.</p>
            <p class="card-text"><strong>WARNING</strong> this is only for demonstration purposes. Important
                safety features are missing. For example, no measures are taken to counter
                <em>malleability</em> attacks. For more details, please read the documentation at the official
                Verificatum <a href="https://www.verificatum.org/">webpage</a>.</p>
        </div>
        <div class="card-footer text-muted">
            Made for the <a href="https://www.trustfull.proj.kth.se/">Trustfull project</a>
        </div>
    </div>
</div>
<div class="alert alert-success" id="success" {% if not show_success %} style="display: none;" {% endif %}>
    <strong>Success!</strong> Thank you for submitting your vote.
</div>
<script>
    window.WASM_PATH = "{{url_for('static', filename='muladd.wasm')}}"
</script>
<script src="{{url_for('static', filename='min-vjsc-1.1.1.js')}}"></script>
<script>
    // Hide success alert window
    setTimeout(function() {
        window.success.className += ' hidden';
    }, 1000);

    function captureForm() {
        for (const candidate of document.getElementsByClassName('candidate')) {
            if (candidate.checked) {
                var found = false;
                {% for e in data.fields %}
                found |= candidate.value === "{{ e }}";
                {% endfor %}
                if (!found) {
                    console.error("Candidate does not much any expected value");
                    return false;
                }

                document.getElementById(candidate.value).value = encrypt(candidate.value);
                return true;
            }
        }

        console.error('No candidate selected');
        return false;
    }

    function encrypt(s) {
        function initRandomSource() {
            const randomSource = new verificatum.crypto.RandomDevice();
            const seed = randomSource.getBytes(verificatum.crypto.SHA256PRG.seedLength);
            const ret = new verificatum.crypto.SHA256PRG();
            ret.setSeed(seed);
            return ret;
        }

        const randomSource = initRandomSource();
        const WIDTH = 1;  // Depends on vmni configuration

        const bt = verificatum.eio.ByteTree.readByteTreeFromByteArray({{data.publicKey}});

        console.assert(verificatum.util.byteArrayToAscii(bt.value[0].value[0].value).endsWith('ECqPGroup'));
        const keyPGroup = verificatum.arithm.ECqPGroup.fromByteTree(bt.value[0].value[1]);
        const fullPublicKey = new verificatum.arithm.PPGroup(keyPGroup, 2).toElement(bt.value[1]);
        const eg = new verificatum.crypto.ElGamal(true, keyPGroup, randomSource, 20);
        const wpk = eg.widePublicKey(fullPublicKey, WIDTH);

        // Encode message
        const ascii_bytes = s.split('').map(x => x.charCodeAt(0));
        const encoded = wpk.pGroup.project(1).encode(ascii_bytes);
        const encrypted = eg.encrypt(wpk, encoded);

        // XXX: why?
        // In format expected by VMN
        const encrypted0 = encrypted.values[0].toByteTree().toByteArray();
        const encrypted1 = encrypted.values[1].toByteTree().toByteArray();
        return JSON.stringify([encrypted0, encrypted1]);
    }
</script>
{% endblock %}